 <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a routerLink="#"><img src="../assets/img/core-img/logo17.png" alt=""></a>
                            </div>
                            <p>A hostel Management Website for IITDH Hostellers.Its the small things that make us different</p>
                            <div class="footer-social-info">
                                <a routerLink="#"><i class="fa fa-facebook"></i></a>
                                <a routerLink="#"><i class="fa fa-twitter"></i></a>
                                <a routerLink="#"><i class="fa fa-dribbble"></i></a>
                                <a routerLink="#"><i class="fa fa-behance"></i></a>
                                <a routerLink="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Usefull Links</h6>
                            </div>
                            <nav>
                                <ul class="useful-links">
                                    <li><a routerLink="#">Home</a></li>
                                    <li><a routerLink="#">Services &amp; Features</a></li>
                                    <li><a routerLink="#">Accordions and tabs</a></li>
                                    <li><a routerLink="#">Menu ideas</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Gallery</h6>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <a routerLink="../assets/img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="../assets/img/bg-img/gallery1.jpg" alt=""></a>
                                <a routerLink="../assets/img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="../assets/img/bg-img/gallery2.jpg" alt=""></a>
                                <a routerLink="../assets/img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="../assets/img/bg-img/gallery3.jpg" alt=""></a>
                                <a routerLink="../assets/img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="../assets/img/bg-img/gallery4.jpg" alt=""></a>
                                <a routerLink="../assets/img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="../assets/img/bg-img/gallery5.jpg" alt=""></a>
                                <a routerLink="../assets/img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="../assets/img/bg-img/gallery6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contact</h6>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-placeholder"></i>
                                <p>Walmi Campus,PB Road,Near High Court, Dharwad,</p>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-telephone-1"></i>
                                <p>9999999999<br></p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p>instigo.iitdh@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | InstiGO
                    </div>
                </div>
            </div>
        </div>
    </footer>