mat-form-field {
  width: 100%;
  margin: 0px;
  height: 100%;
}

mat-spinner {
  margin: auto;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    padding-right:415px; 
}